body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#video-container {
    position: relative;
    width: 80%;
}

#live-video {
    width: 100%;
    border: 2px solid #ddd;
}

#live-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

#live-button.live-on {
    display: block; /* Show the button when live-on class is present */
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
